body {
	background-color: #4C6868;
}

.a{
	width: 1500px;
	height: 500px;
	margin-left: 30%;
	
}

p {
	color: white;
	font-size: 70px;
	text-align: center;
}

.content-2 {
	margin-top: -50px;
}
.content-3 {
	margin-top: -50px;
}

.s{
	margin-top: 100px;	
	background-color:#0F2520;
	width:850px;
	height:800px;
	color: #FFF;
}
.photo{
	margin-left: 35%;
}

img {
	width: 250px;
	height: 300px;
}

h4 {
	margin-left: 31%;
	font-size: 30px;
}

.of {
	margin-top: -30px;
	word-spacing: 15px;
}